<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyBridge - <%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/courses.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/playlist.css">
    <link rel="stylesheet" href="/css/watch-video.css">
    <link rel="stylesheet" href="/css/teacher-profile.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/update-profile.css">
    <link rel="stylesheet" href="/css/change-password.css">
    <link rel="stylesheet" href="/css/forgot-password.css">
    <link rel="stylesheet" href="/css/verify-email.css">
    <link rel="stylesheet" href="/css/verify-otp.css">
    <link rel="stylesheet" href="/css/reset-password.css">
    <link rel="stylesheet" href="/css/not-found.css">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/success.css">
    <link rel="stylesheet" href="/css/warning.css">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/css/loading.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/tooltip.css">
    <link rel="stylesheet" href="/css/dropdown.css">
    <link rel="stylesheet" href="/css/accordion.css">
    <link rel="stylesheet" href="/css/tabs.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/flex.css">
    <link rel="stylesheet" href="/css/utilities.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <%- body %>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/script.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/footer.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/about.js"></script>
    <script src="/js/courses.js"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/register.js"></script>
    <script src="/js/playlist.js"></script>
    <script src="/js/watch-video.js"></script>
    <script src="/js/teacher-profile.js"></script>
    <script src="/js/profile.js"></script>
    <script src="/js/update-profile.js"></script>
    <script src="/js/change-password.js"></script>
    <script src="/js/forgot-password.js"></script>
    <script src="/js/verify-email.js"></script>
    <script src="/js/verify-otp.js"></script>
    <script src="/js/reset-password.js"></script>
    <script src="/js/not-found.js"></script>
    <script src="/js/error.js"></script>
    <script src="/js/success.js"></script>
    <script src="/js/warning.js"></script>
    <script src="/js/info.js"></script>
    <script src="/js/loading.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/tooltip.js"></script>
    <script src="/js/dropdown.js"></script>
    <script src="/js/accordion.js"></script>
    <script src="/js/tabs.js"></script>
    <script src="/js/carousel.js"></script>
    <script src="/js/grid.js"></script>
    <script src="/js/flex.js"></script>
    <script src="/js/utilities.js"></script>
    <script src="/js/responsive.js"></script>
    <script src="/js/animations.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/custom.js"></script>
</body>
</html> 